manassaticket.com {
    tls /etc/ssl/cloudflare/cert.pem /etc/ssl/cloudflare/key.pem

    handle /api/* {
        reverse_proxy api:8080
    }

    handle {
        reverse_proxy frontend:80
    }
}

www.manassaticket.com {
    tls /etc/ssl/cloudflare/cert.pem /etc/ssl/cloudflare/key.pem
    redir https://manassaticket.com{uri} permanent
}

api.manassaticket.com {
    tls /etc/ssl/cloudflare/cert.pem /etc/ssl/cloudflare/key.pem
    reverse_proxy api:8080
}